-- Generated with 
--
-- gomplate -c .=palette.yaml -f roles/neovim/links/config/nvim/lua/justin/colorscheme/colors.lua.tmpl -o roles/neovim/links/config/nvim/lua/justin/colorscheme/colors.lua

return {
  black1   = '{{ .black1 }}',
  red1     = '{{ .red1 }}',
  green1   = '{{ .green1 }}',
  yellow1  = '{{ .yellow1 }}',
  blue1    = '{{ .blue1 }}',
  magenta1 = '{{ .magenta1 }}',
  cyan1    = '{{ .cyan1 }}',
  white1   = '{{ .white1 }}',

  black2   = '{{ .black2 }}',
  red2     = '{{ .red2 }}',
  green2   = '{{ .green2 }}',
  yellow2  = '{{ .yellow2 }}',
  blue2    = '{{ .blue2 }}',
  magenta2 = '{{ .magenta2 }}',
  cyan2    = '{{ .cyan2 }}',
  white2   = '{{ .white2 }}',

  -- for more ui depth
  black3   = '{{ .black3 }}',
  black4   = '{{ .black4 }}',
}
